Repository billwallis/shipyard: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, check-pyproject-schema

.pre-commit-config.yaml:

# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config.json
---
ci:
  autoupdate_schedule: quarterly
  skip: ["identity", "uv-lock", "ty", "pytest", "coverage-badge"]

default_install_hook_types: ["pre-commit", "pre-push"]
default_stages: ["pre-commit"]

repos:
  - repo: meta
    hooks:
      - id: identity

  # Stolen from: https://github.com/elementary-data/elementary/blob/ef5043811a72009126391a3f0c8a18f72ae00b18/.pre-commit-config.yaml
  - repo: local
    hooks:
      - id: no-commit
        name: Check for NO_COMMIT marker
        entry: bash -c "git diff --cached -U0 | (! grep NO_COMMIT)"
        language: system
        pass_filenames: false
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: Don't allow commits to the main branch
        args: ["--branch", "main"]
      - id: trailing-whitespace
        name: Remove trailing whitespace
      - id: end-of-file-fixer
        name: Ensure files end with a newline character
      - id: mixed-line-ending
        name: Align mixed line ending
      - id: check-added-large-files
        name: Check for large files
      - id: check-json
        name: Check JSON files are valid and parseable
        exclude: "devcontainer.json"
      - id: check-yaml
        name: Check YAML files are valid and parseable
      - id: check-toml
        name: Check TOML files are valid and parseable
      - id: check-ast
        name: Validate Python
      - id: detect-private-key
        name: Check for the existence of private keys

  - repo: https://github.com/pre-commit-ci/pre-commit-ci-config
    rev: v1.6.1
    hooks:
      - id: check-pre-commit-ci-config
        name: Validate pre-commit CI config

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.25
    hooks:
      - id: uv-lock
        name: Check that the lock file is up-to-date

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
        name: Lint Python code
        args: ["--fix"]
      - id: ruff-format
        name: Format Python code

  # https://github.com/astral-sh/ty?tab=readme-ov-file#getting-started
  - repo: local
    hooks:
      - id: ty
        name: Run type checks
        entry: uvx ty check
        language: system
        pass_filenames: true
        always_run: false
        types: ["python"]

  - repo: https://github.com/billwallis/bills-hooks
    rev: v0.0.6
    hooks:
      - id: tidy-gitkeep
        name: Remove redundant .gitkeep files

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-workflows
      - id: check-compose-spec

  - repo: local
    hooks:
      - id: check-pyproject-schema
        name: Validate pyproject.toml schema
        entry: check-jsonschema
        pass_filenames: true
        language: python
        additional_dependencies: ['check-jsonschema==0.35.0']
        files: pyproject.toml
        args: ["--schemafile", "https://json.schemastore.org/pyproject.json"]
        # This calls a remote URL, so run on pre-push to avoid slowing down commits
        stages: ["pre-push"]

  - repo: local
    hooks:
      - id: pytest
        name: Run unit tests
        entry: uv run pytest tests --quiet
        stages: ["pre-push"]
        language: unsupported
        pass_filenames: false
        always_run: true
      - id: coverage-badge
        name: Generate coverage badge
        entry: uv run coverage-badge -o coverage.svg -f
        stages: ["pre-push"]
        language: unsupported
        pass_filenames: false
        always_run: true

feat: add sequence rollbacks topic (#19)
  src/upcoming/rolled-back-transactions-still-increment-sequences.md
Due: none

feat: add small note on Python workspaces
  src/upcoming/python-assert-vs-raise.md
  src/upcoming/python-workspaces-with-uv.md
Due: none

feat: add small note on Python workspaces (#20)
  src/upcoming/python-assert-vs-raise.md
  src/upcoming/python-workspaces-with-uv.md
Due: none

chore: update project files
  README.md
  pyproject.toml
  src/archived/2025-08-05--json-json5-jsonl-yaml.md
  src/archived/2025-08-12--python-arguably.md
  src/archived/2025-12-09--a-good-python-docstring.md
  src/archived/2026-05-19--returning-star-and-data-modifying-ctes.md
  src/hooks/notion_to_markdown.py
  src/upcoming/some-cli-features.md
  uv.lock
Due: ty, check-pyproject-schema

chore: update project files (#21)
  README.md
  pyproject.toml
  src/archived/2025-08-05--json-json5-jsonl-yaml.md
  src/archived/2025-08-12--python-arguably.md
  src/archived/2025-12-09--a-good-python-docstring.md
  src/archived/2026-05-19--returning-star-and-data-modifying-ctes.md
  src/hooks/notion_to_markdown.py
  src/upcoming/some-cli-features.md
  uv.lock
Due: ty, check-pyproject-schema

feat: archive Python asserts topic
  src/archived/2026-06-30--python-assert-vs-raise.md
Due: none

feat: archive Python asserts topic (#22)
  src/archived/2026-06-30--python-assert-vs-raise.md
Due: none

feat: archive git subcommands topic
  src/archived/2026-06-23--git-pr-and-git-wrapup.md
Due: none

feat: add git blog summary
  src/archived/2026-07-14--git-blog-summary.md
Due: none

docs: extend existing topics
  src/upcoming/magic-values.md
Due: none

feat: archive old topics (#24)
  src/archived/2026-06-23--git-pr-and-git-wrapup.md
  src/archived/2026-07-14--git-blog-summary.md
  src/upcoming/magic-values.md
Due: none

feat: add slash commands and dbt selectors topics
  src/archived/2026-07-28--dbt-selectors.md
  src/archived/2026-07-28--slash-commands.md
Due: none

feat: add slash commands and dbt selectors topics (#25)
  src/archived/2026-07-28--dbt-selectors.md
  src/archived/2026-07-28--slash-commands.md
Due: none

feat: add archiver tool
  pyproject.toml
  tools/__init__.py
  tools/archiver.py
Due: ty, check-pyproject-schema

feat: add archiver tool (#27)
  pyproject.toml
  tools/__init__.py
  tools/archiver.py
Due: ty, check-pyproject-schema

refactor: reorder archiver functions
  tools/archiver.py
Due: ty

refactor: reorder archiver functions (#28)
  tools/archiver.py
Due: ty

chore: remove uv
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  uv.lock
Due: check-pyproject-schema

chore: remove uv (#29)
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  uv.lock
Due: check-pyproject-schema

docs: add "naming things" topic
  docs/upcoming/naming-things.md
Due: none

docs: add "batch vs CDC vs CT" topic
  docs/upcoming/batch-vs-cdc-vs-ct.md
Due: none

docs: add "query-driven development" topic
  docs/upcoming/query-driven-development.md
Due: none

docs: add more topics (#30)
  docs/upcoming/batch-vs-cdc-vs-ct.md
  docs/upcoming/naming-things.md
  docs/upcoming/query-driven-development.md
Due: none

docs: add "CLI animations" and "parting gift" topics
  docs/archived/2026-09-08--cli-animations.md
  docs/archived/2026-09-08--parting-gift.md
Due: none

docs: add "CLI animations" and "parting gift" topics (#31)
  docs/archived/2026-09-08--cli-animations.md
  docs/archived/2026-09-08--parting-gift.md
Due: none

feat: add "atomic Python" topic
  docs/upcoming/atomic-python.md
Due: none

feat: add "atomic Python" topic (#32)
  docs/upcoming/atomic-python.md
Due: none
