Repository billwallis/shipyard: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, check-pyproject-schema

.pre-commit-config.yaml:

# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config.json
---
ci:
  autoupdate_schedule: quarterly
  skip: ["identity", "uv-lock", "ty", "pytest", "coverage-badge"]

default_install_hook_types: ["pre-commit", "pre-push"]
default_stages: ["pre-commit"]

repos:
  - repo: meta
    hooks:
      - id: identity

  # Stolen from: https://github.com/elementary-data/elementary/blob/ef5043811a72009126391a3f0c8a18f72ae00b18/.pre-commit-config.yaml
  - repo: local
    hooks:
      - id: no-commit
        name: Check for NO_COMMIT marker
        entry: bash -c "git diff --cached -U0 | (! grep NO_COMMIT)"
        language: system
        pass_filenames: false
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        name: Don't allow commits to the main branch
        args: ["--branch", "main"]
      - id: trailing-whitespace
        name: Remove trailing whitespace
      - id: end-of-file-fixer
        name: Ensure files end with a newline character
      - id: mixed-line-ending
        name: Align mixed line ending
      - id: check-added-large-files
        name: Check for large files
      - id: check-json
        name: Check JSON files are valid and parseable
        exclude: "devcontainer.json"
      - id: check-yaml
        name: Check YAML files are valid and parseable
      - id: check-toml
        name: Check TOML files are valid and parseable
      - id: check-ast
        name: Validate Python
      - id: detect-private-key
        name: Check for the existence of private keys

  - repo: https://github.com/pre-commit-ci/pre-commit-ci-config
    rev: v1.6.1
    hooks:
      - id: check-pre-commit-ci-config
        name: Validate pre-commit CI config

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.25
    hooks:
      - id: uv-lock
        name: Check that the lock file is up-to-date

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
        name: Lint Python code
        args: ["--fix"]
      - id: ruff-format
        name: Format Python code

  # https://github.com/astral-sh/ty?tab=readme-ov-file#getting-started
  - repo: local
    hooks:
      - id: ty
        name: Run type checks
        entry: uvx ty check
        language: system
        pass_filenames: true
        always_run: false
        types: ["python"]

  - repo: https://github.com/billwallis/bills-hooks
    rev: v0.0.6
    hooks:
      - id: tidy-gitkeep
        name: Remove redundant .gitkeep files

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-workflows
      - id: check-compose-spec

  - repo: local
    hooks:
      - id: check-pyproject-schema
        name: Validate pyproject.toml schema
        entry: check-jsonschema
        pass_filenames: true
        language: python
        additional_dependencies: ['check-jsonschema==0.35.0']
        files: pyproject.toml
        args: ["--schemafile", "https://json.schemastore.org/pyproject.json"]
        # This calls a remote URL, so run on pre-push to avoid slowing down commits
        stages: ["pre-push"]

  - repo: local
    hooks:
      - id: pytest
        name: Run unit tests
        entry: uv run pytest tests --quiet
        stages: ["pre-push"]
        language: unsupported
        pass_filenames: false
        always_run: true
      - id: coverage-badge
        name: Generate coverage badge
        entry: uv run coverage-badge -o coverage.svg -f
        stages: ["pre-push"]
        language: unsupported
        pass_filenames: false
        always_run: true

chore: adjust files for project
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  README.md
  coverage.svg
  pyproject.toml
  src/python_template/__init__.py
  src/python_template/main.py
  tests/__init__.py
  tests/python_template/__init__.py
  tests/python_template/test__main.py
  uv.lock
Due: ty, check-pyproject-schema

chore: adjust files for project (#1)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  README.md
  coverage.svg
  pyproject.toml
  src/python_template/__init__.py
  src/python_template/main.py
  tests/__init__.py
  tests/python_template/__init__.py
  tests/python_template/test__main.py
  uv.lock
Due: ty, check-pyproject-schema

chore: add pre-commit hook for validating file patterns
  .pre-commit-config.yaml
Due: none

feat: add archived content
  .pre-commit-config.yaml
  pyproject.toml
  src/archived/2025-06-17--yaml-scalars.md
  src/archived/2025-06-24--uuid-v4-vs-v7.md
  src/archived/2025-07-01--sql-is-not-distinct-from.md
  src/archived/2025-07-15--yaml-tags.md
  src/archived/2025-07-22--wtfi-dbt-contracts.md
  src/archived/2025-08-05--json-json5-jsonl-yaml.md
  src/archived/2025-08-12--python-arguably.md
  src/archived/2025-08-19--mkdocs.md
  src/archived/2025-09-02--say-no-to-dbt-macros.md
  src/archived/2025-09-09--shell-commands-in-envrc.md
  src/archived/2025-09-23--uv-tools.md
  src/archived/2025-09-30--conventional-commits.md
  src/archived/2025-10-14--gitmojis-and-bigquery-with-expression.md
  src/archived/2025-10-28--merge-commit-and-custom-git-subcommands.md
  src/archived/2025-11-04--nested-file-in-ide.md
  src/archived/2025-11-11--dev-containers.md
  src/archived/2025-11-25--make-is-not-a-task-runner-and-git-switch.md
  src/archived/2025-12-09--a-good-python-docstring.md
  src/archived/2025-12-16--json-yaml-toml-and-json-schema.md
  src/archived/2026-01-13--git-format-patch-and-git-apply.md
  src/archived/2026-01-27--concat_ws-in-tsql-vs-snowflake.md
  src/archived/2026-02-10--git-worktrees.md
  src/archived/2026-03-10--github-code-blocks-and-commit-urls.md
  src/hooks/__init__.py
  src/hooks/notion_to_markdown.py
  uv.lock
Due: ty, check-pyproject-schema

feat: add archived content (#2)
  .pre-commit-config.yaml
  pyproject.toml
  src/archived/2025-06-17--yaml-scalars.md
  src/archived/2025-06-24--uuid-v4-vs-v7.md
  src/archived/2025-07-01--sql-is-not-distinct-from.md
  src/archived/2025-07-15--yaml-tags.md
  src/archived/2025-07-22--wtfi-dbt-contracts.md
  src/archived/2025-08-05--json-json5-jsonl-yaml.md
  src/archived/2025-08-12--python-arguably.md
  src/archived/2025-08-19--mkdocs.md
  src/archived/2025-09-02--say-no-to-dbt-macros.md
  src/archived/2025-09-09--shell-commands-in-envrc.md
  src/archived/2025-09-23--uv-tools.md
  src/archived/2025-09-30--conventional-commits.md
  src/archived/2025-10-14--gitmojis-and-bigquery-with-expression.md
  src/archived/2025-10-28--merge-commit-and-custom-git-subcommands.md
  src/archived/2025-11-04--nested-file-in-ide.md
  src/archived/2025-11-11--dev-containers.md
  src/archived/2025-11-25--make-is-not-a-task-runner-and-git-switch.md
  src/archived/2025-12-09--a-good-python-docstring.md
  src/archived/2025-12-16--json-yaml-toml-and-json-schema.md
  src/archived/2026-01-13--git-format-patch-and-git-apply.md
  src/archived/2026-01-27--concat_ws-in-tsql-vs-snowflake.md
  src/archived/2026-02-10--git-worktrees.md
  src/archived/2026-03-10--github-code-blocks-and-commit-urls.md
  src/hooks/__init__.py
  src/hooks/notion_to_markdown.py
  uv.lock
Due: ty, check-pyproject-schema

chore: refine project files
  .gitignore
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  uv.lock
Due: check-pyproject-schema

chore: refine project files (#3)
  .gitignore
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  uv.lock
Due: check-pyproject-schema

feat: add notes for building own pre-commit hooks
  src/archived/2026-03-24--build-your-own-pre-commit-hook.md
Due: none

feat: add notes for building own pre-commit hooks (#4)
  src/archived/2026-03-24--build-your-own-pre-commit-hook.md
Due: none

feat: add notes for future sessions
  src/upcoming/build-your-own-python-cli.md
  src/upcoming/casing.md
  src/upcoming/cte-materialisation.md
  src/upcoming/dbml.md
  src/upcoming/dbt-node-selection.md
  src/upcoming/dun-dun-duuun-ders.md
  src/upcoming/everything-is-a-contract.md
  src/upcoming/feature-flags.md
  src/upcoming/file-watchers.md
  src/upcoming/git-rebase.md
  src/upcoming/intentional-sql.md
  src/upcoming/jetbrains-data-extractors.md
  src/upcoming/jetbrains-http-client.md
  src/upcoming/magic-values.md
  src/upcoming/making-github-prs-work-for-you.md
  src/upcoming/poethepoet.md
  src/upcoming/python-assert-vs-raise.md
  src/upcoming/python-src-layout.md
  src/upcoming/restructuredtext.md
  src/upcoming/returning-star-and-data-modifying-ctes.md
  src/upcoming/some-cli-features.md
  src/upcoming/sql-for-table-diffing.md
  src/upcoming/sql-interval-keyword.md
  src/upcoming/testing-primer.md
  src/upcoming/using-using.md
  src/upcoming/whats-an-api.md
  src/upcoming/whats-an-interface.md
  src/upcoming/why-1=1-in-prod.md
Due: none

feat: add notes for future sessions (#5)
  src/upcoming/build-your-own-python-cli.md
  src/upcoming/casing.md
  src/upcoming/cte-materialisation.md
  src/upcoming/dbml.md
  src/upcoming/dbt-node-selection.md
  src/upcoming/dun-dun-duuun-ders.md
  src/upcoming/everything-is-a-contract.md
  src/upcoming/feature-flags.md
  src/upcoming/file-watchers.md
  src/upcoming/git-rebase.md
  src/upcoming/intentional-sql.md
  src/upcoming/jetbrains-data-extractors.md
  src/upcoming/jetbrains-http-client.md
  src/upcoming/magic-values.md
  src/upcoming/making-github-prs-work-for-you.md
  src/upcoming/poethepoet.md
  src/upcoming/python-assert-vs-raise.md
  src/upcoming/python-src-layout.md
  src/upcoming/restructuredtext.md
  src/upcoming/returning-star-and-data-modifying-ctes.md
  src/upcoming/some-cli-features.md
  src/upcoming/sql-for-table-diffing.md
  src/upcoming/sql-interval-keyword.md
  src/upcoming/testing-primer.md
  src/upcoming/using-using.md
  src/upcoming/whats-an-api.md
  src/upcoming/whats-an-interface.md
  src/upcoming/why-1=1-in-prod.md
Due: none

feat: add license
  .pre-commit-config.yaml
  LICENSE
Due: none

feat: add license (#7)
  .pre-commit-config.yaml
  LICENSE
Due: none

feat: add CTE materialisation session
  src/archived/2026-04-07--cte-materialisation.md
Due: none

feat: add CTE materialisation session (#8)
  src/archived/2026-04-07--cte-materialisation.md
Due: none

chore: update config files
  .pre-commit-config.yaml
  pyproject.toml
Due: check-pyproject-schema

chore: update config files (#9)
  .pre-commit-config.yaml
  pyproject.toml
Due: check-pyproject-schema

feat: archive SQL diffing query and data-modifying CTE notes
  src/archived/2026-05-19--returning-star-and-data-modifying-ctes.md
  src/archived/2026-05-19--sql-for-table-diffing.md
Due: none

feat: archive SQL diffing query and data-modifying CTE notes (#10)
  src/archived/2026-05-19--returning-star-and-data-modifying-ctes.md
  src/archived/2026-05-19--sql-for-table-diffing.md
Due: none

feat: add non-breaking space to replacement hook
  src/hooks/notion_to_markdown.py
  src/upcoming/magic-values.md
  src/upcoming/poethepoet.md
Due: ty

feat: add jOOQ article on `using` bug
  src/upcoming/using-using.md
Due: none

feat: tweak upcoming content (#11)
  src/hooks/notion_to_markdown.py
  src/upcoming/magic-values.md
  src/upcoming/poethepoet.md
  src/upcoming/using-using.md
Due: ty

chore: add mypy, pytest
  pyproject.toml
  uv.lock
Due: check-pyproject-schema

chore: add mypy and pytest (#12)
  pyproject.toml
  uv.lock
Due: check-pyproject-schema

feat: add sample Python to assert vs raise
  src/upcoming/python-assert-vs-raise.md
Due: none

feat: add sample Python to assert vs raise (#13)
  src/upcoming/python-assert-vs-raise.md
Due: none

feat: add `pushd` and `popd` notes
  src/upcoming/pushd-and-popd.md
Due: none

feat: add `pushd` and `popd` notes (#14)
  src/upcoming/pushd-and-popd.md
Due: none

feat: add another test case for Python assert vs raise
  src/upcoming/python-assert-vs-raise.md
Due: none

feat: add latest git subcommands topic
  src/upcoming/git-pr-and-git-wrapup.md
Due: none

chore: tweak pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat: update upcoming topics (#15)
  .pre-commit-config.yaml
  src/upcoming/git-pr-and-git-wrapup.md
  src/upcoming/python-assert-vs-raise.md
Due: none

feat: extend the `1=1` notes
  src/upcoming/why-1=1-in-prod.md
Due: none

feat: extend the interfaces notes
  src/upcoming/whats-an-interface.md
Due: none

feat: add more upcoming shizz (#16)
  src/upcoming/whats-an-interface.md
  src/upcoming/why-1=1-in-prod.md
Due: none

feat: add jOOQ article on lateral join
  src/upcoming/jooq-lateral-join.md
Due: none

feat: add jOOQ article on lateral join (#17)
  src/upcoming/jooq-lateral-join.md
Due: none

feat: extend the `.envrc` topic
  src/archived/2025-09-09--shell-commands-in-envrc.md
Due: none

feat: extend the `.envrc` topic (#18)
  src/archived/2025-09-09--shell-commands-in-envrc.md
Due: none

feat: add sequence rollbacks topic
  src/upcoming/rolled-back-transactions-still-increment-sequences.md
Due: none
